* {
  box-sizing: border-box;
}

body {
	background-color: #101010;
	font-family: -apple-system, BlinkMacSystemFont, “Roboto”, “Droid Sans”, “Helvetica Neue”, Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  text-rendering: optimizeLegibility; /* NOTE May cause performance issues */
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-size: 18px;
  line-height: 1.4em;
}


html,
a {
  color: #cccccc;
}

article {
	max-width: 37.5em;
	margin: 0 auto;
  padding: 1em 10px;
  padding-left: 10px;
  padding-right: 10px;
}

article > *:first-child {
   margin: 0;
}

/* Emphasis */
h1,
h2,
h3,
h4,
h5,
h6,
strong,
blockquote em,
th {
  font-weight: 700;
}

/* Headings */

h1 {
  margin-top: calc((60 / 23) * 1em); /* 60px @23px */
  margin-bottom: calc((60 / 23) * 1em); /* 60px @23px */
  font-size: calc((23 / 18) * 1em); /* 1.2778em = 23px @ font-size: 18px */
  line-height: calc(30 / 23); /* 1.304 = 30px @ font-size: 23px */
}

h2 {
  margin-top: calc((60 / 21) * 1em); /* 60px @21px */
  margin-bottom: calc((30 / 18) * 1em); /* 30px @21px */
  font-size: calc((21 / 18) * 1em); /* 1.1667em = 21px @ font-size: 18px */
  line-height: calc(30 / 21); /* 1.4286 = 30px @ font-size: 21px */
}

h3,
h4,
h5,
h6 {
  margin-top: calc((30 / 18) * 1em);
  font-size: 1em;
}

h3,
h4,
h5 {
  margin-bottom: 0;
}

h3,
h4 {
  line-height: calc(30 / 18); /* 1.6667 = 30px @ font-size: 18px */
}

h4 {
  font-style: italic;
}

h5 {
  font-style: italic;
  font-weight: 500;
}

h6 {
  float: left;
  margin: 0 0.5em 0 0; /* 9px @ font-size: 18px */
}

  /* Clear all siblings after floated h6… */
h6 ~ * {
  clear: both;
}

  /* …except immediately following paragraph */
h6 + p {
  clear: none;
}

/* Display h6 as run-in: see core.css */

/* Subheading adjustments */

h1 + h1 {
  margin-top: calc((45 / 23) * -1em);
}

h1 + h2 {
  margin-top: calc((45 / 21) * -1em);
}

h2 + h1 {
  margin-top: calc((15 / 23) * -1em);
}

h2 + h2 {
  margin-top: calc((15 / 21) * -1em);
}

:-webkit-any(h1, h2, h3, h4, h5, h6) + :-webkit-any(h3, h4, h5, h6),
body > h6:first-child {
  margin-top: 0;
}

/* Vertical margins */
p,
ol,
ul,
dl,
figure,
blockquote,
pre,
table {
  margin: calc((30 / 18) * 1em) auto 0;
}

/* Override vertical margin between headers and block-level elements */
:-webkit-any(h3, h4, h5) + :-webkit-any(p, ol, ul, dl, figure, blockquote, pre, table),
:-webkit-any(h1, h2, h3, h4, h5) + h6 + *,
hr + h6 {
  margin-top: 0;
}

/* Lists */
/* Use custom bullet for unordered lists */
ul {
  list-style: none;
}

ul > li:before {
  content: "• ";
  float: left; /* Take out of flow to avoid changing left edge alignment or pushing child paragraph down */
  margin-left: calc((20 / 18) * -1em); /* -1.1111em = 20px @ font-size: 18px. em works better for RWD than % */
}

/* Responsive list padding */
ul,
ol {
  padding-left: 1.5rem; /* 22.5px for font-size: 15px @320px. rem works better for RWD than % */
}

/* Indent ordered lists in blockquotes */
blockquote ul,
blockquote ol {
  margin-left: calc((40 / 18) * -1em); /* -40px when width = 1080px */
}

/* Blockquotes */
blockquote {
  margin-left: calc((16 / 18) * -1em); /* 0.8889em = 16px when font-size: 18px */
  margin-right: calc((16 / 18) * -1em); /* 0.8889em = 16px when font-size: 18px */
  padding-left: calc((40 / 18) * 1em); /* 2.2222em = 40px when font-size: 18px */
  padding-right: calc((40 / 18) * 1em); /* 2.2222em = 40px when font-size: 18px */
  font-style: italic;
}

blockquote em strong,
blockquote strong em {
  font-weight: 700;
}

/** OBJECTS → see core.css base styles for:
 *  - Indent Paragraphs
 *  - Footnotes
 *  - Task lists
 */

/* Indent Paragraphs */
.indent-paragraphs p + p {
  text-indent: calc((20 / 18) * 1em); /* 1.1111em = 20px @ font-size: 18px */
}

hr,
caption,
tbody th,
td {
  border-bottom-color: #cccccc;
}

tbody th,
td {
  border-top-color: #cccccc;
}

/* Footnote */
.footnotes {
  font-size: 1em; /* 17px @1080px wide */
  line-height: calc(30 / 18); /* 1.6667 = 30px @ font-size: 18px */
}

/* Code */

code,
samp,
kbd {
  font-size: 0.94em;
}

/* Task Lists */

ol .task-list-item {
  --checkbox-counter-offset: calc(0.65 * var(--checkbox-size));
}

.task-list-item-checkbox {
  background-position: 35% 48%; /* tweak position */
}

/** other stuff i can't be bothered anymore */
dd {
  -webkit-margin-start: 2.2222rem; /* ~40px for font-size: 18px. rem works better for RWD than % */
  margin-start: 2.2222rem;
}

/* Remove vertical margins on nested lists */
:-webkit-any(li, dt, dd, th, td) > :-webkit-any(ul, ol, dl) {
  margin-top: 0;
  margin-bottom: 0;
}

/* Override vertical margin above paragraph list items */
:-webkit-any(li) > :-webkit-any(p, pre, figure, img) {
    margin-top: 0;
}

/* img is wrapped in p on export by default, so leave as inline */
img {
  max-width: 100%;
  vertical-align: top;
}

figure img {
  display: block;
}

figcaption {
    text-align: center;
    font-style: italic;
}

hr {
  clear: both;
  margin: 3rem auto 3rem; /* Extra-large for visibility in mini-map (<100px wide) */
  border: 0;
  border-bottom: 1px #666 solid;
}

/* table-layout: fixed; produces equal-width columns, which is generally a better result */
table {
  table-layout: fixed;
  width: 100%;
  border-top: 1px #666 solid;
  border-bottom: 1px #666 solid;
  border-collapse: collapse;
  font-size: calc((15 / 18) * 1rem); /* 0.8333rem = 15px @ font-size: 18px */
  line-height: calc(24 / 15); /* 1.6 = 24px @ font-size: 15px */
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}

caption {
  caption-side: bottom;
  font-style: italic;
  font-size: 1rem;
}

caption, figcaption {
    padding-top: calc((20 / 1080) * 100%); /* 10px when width: 1080px */
    padding-bottom: calc((10 / 1080) * 100%); /* 10px when width: 1080px */
}

tbody {
  border-top: 1px #666 solid;
}

th,
td {
  margin-right: calc((30 / 1080) * 100%); /* 30px when width: 1080px */
  padding: calc((10 / 1080) * 100%) calc((10 / 1080) * 100%) calc((10 / 1080) * 100%) calc((10 / 1080) * 100%); /* 10px 0 10px when width: 1080px */
  vertical-align: top;
  text-align: left;
}

/* Table cell responsive adjustments */
@media screen and (min-width: 1080px) {
  caption,
  th,
  td {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  th,
  td {
    margin-right: 30px;
  }
}

th:last-of-type,
td:last-of-type {
  margin-right: 0;
}

/* Code */

pre,
code,
kbd {
  border-radius: 2px;
  white-space: pre-wrap;
  background-color: #202020;
}

figure pre {
  margin-top: 0;
}

pre {
  padding: 1rem;
  overflow: hidden;
}

pre code {
  padding: 0;
}

code,
kbd {
  padding: 0.08333em 0.1667em 0.1667em; /* ~1px 2px 2px when font-size: 12px, taking 1px border into account */
}

/* Prevent code line-height increasing heading line-height */
:-webkit-any(h1, h2, h3, h4, h5, h6) > code, kbd {
  line-height: normal;
}

#meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.85em;
  opacity: 0.5;
}
